.contenedor {
    width: 90%;
    max-width: 1000%;
    padding: 40px 20px;
    margin: auto;
    display:flex;
    flex-direction: colum;
    align-items: center
  }
  /*........Estilo de tarjeta....*/